<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">College's Master Iniciative</h5>
        <p class="grey-text text-lighten-4">
          This initiative aims to increase the interaction and the spirit of competitiveness in the student environment.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/diogo-brito-13165a10b">Linked In</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/dmsb/">github</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 Copyright - developer by <a class="grey-text text-lighten-3" href="https://github.com/dmsb/">Diogo Brito</a>
    </div>
  </div>
</footer>