.btn, .btn-large, .btn-small {
  background-color: rgb(11, 184, 252);
}

/* label underline color */
.input-field input {
  border-bottom: 1px solid rgb(11, 184, 252);
}

/* label color */
.input-field label {
  color: rgb(180, 232, 253);
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: rgb(91, 205, 250);
}
.input-field input[type=password]:focus + label {
  color: rgb(91, 205, 250);
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(11, 184, 252);
  box-shadow: 0 1px 0 0 rgb(91, 205, 250);
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(11, 184, 252);
  box-shadow: 0 1px 0 0 rgb(91, 205, 250);
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid rgb(11, 184, 252);
  box-shadow: 0 1px 0 0 rgb(91, 205, 250);
}
.input-field input[type=password].valid {
  border-bottom: 1px solid rgb(11, 184, 252);
  box-shadow: 0 1px 0 0 rgb(91, 205, 250);
}

.input-field .prefix {
  color: rgb(11, 184, 252);
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: rgb(91, 205, 250);
}