
.card .card-image img {
    height: 125px;
}
.container {
    width: 100%;
}
.card-content {
    padding: 1px;
}

body > div > div > div > div > div.card-image > a {
    width: 68px;
    height: 68px;
    left: 20px;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: rgb(59, 182, 240);
}

nav .menu-cm {
    background: linear-gradient(34deg, rgb(17, 17, 2) 0%, rgb(13, 16, 236) 17%,  rgb(153, 7, 211) 83%);
}

nav .nav-content {
    background: rgb(255, 255, 255);
    color: rgb(59, 182, 240);
}
